In [3]:
def multiply(a,b):
    print(a*b)

In [4]:
multiply(233223,854985493)

199402281633939

In [9]:
# if we use print function, we cant declare the output in a new variable. for that we need to use "return"
b =multiply(233223,854985493)
print(b)

199402281633939

In [6]:
# using return function
def multiply(a,b):
    return(a*b)

In [8]:
# using return function, we can declare a output in a  varible 
d = multiply(5,4)
print(d)

20

In [11]:
# another example
d = multiply(5,2)
e = multiply(d,2)
print(e)

20

In [14]:
# using for, if loop to find even numbers in a particular range
l = []
for i in range(10):
    if i%2==0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [21]:
# using def method to find the even numbers in a given range

def get_num_range(start,end,mode):
    if mode == "even":
        remainder = 0
        
    elif mode == "odd":
        remainder = 1
    
    l = []
    for i in range (start,end):
        if i%2==remainder:
            l.append(i)
    return(l)

In [22]:
output = get_num_range(10,500,"even")
print(output)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298, 300, 302, 304, 306, 308, 310, 312, 314, 316, 318, 320, 322, 324, 326, 328, 330, 332, 334, 336, 338, 340, 342, 344, 346, 348, 350, 352, 354, 356, 358, 360, 362, 364, 366, 368, 370, 372, 374, 376, 378, 380, 382, 384, 386, 388, 390, 392, 394, 396, 398, 400, 402, 404, 406, 408, 410, 412, 414, 416, 418, 420, 422, 424, 426, 428, 430, 432, 434, 436, 438, 440, 442, 444, 446, 448, 450, 452, 454, 456, 458, 460, 462, 464, 466, 468, 470, 472, 474, 476, 478, 480, 482, 484, 486, 488, 490, 492, 494, 496, 498]

In [7]:
def names(first_name,middle_name,last_name):
    print("first name is", first_name)
    print("second name is", middle_name)
    print("thrid name is", last_name)

In [8]:
# positional argument based on the position 1,2,3,4....
names("Sabarish","Vishwa","Venkatesan")

first name is Sabarish
second name is Vishwa
thrid name is Venkatesan

In [13]:
# keyword argument is depends on our input

names(first_name = "Venkatesan", middle_name = "Sabarish", last_name= "Vishwa")

first name is Venkatesan
second name is Sabarish
thrid name is Vishwa

In [18]:
names("Vsan", middle_name ="Sabh", last_name="Viwa")

first name is Vsan
second name is Sabh
thrid name is Viwa

In [19]:
names(first_name = "Vsan", "Sabh", last_name="Viwa")
# SyntaxError: positional argument follows keyword argument

SyntaxError: positional argument follows keyword argument (3724723632.py, line 1)

In [21]:
names("Vsan", first_name="Sabh", last_name="Viwa")

# TypeError: names() got multiple values for argument 'first_name

TypeError: names() got multiple values for argument 'first_name'

In [56]:
def games(first_game = None, second_game = None, thrid_game = None):
    print("first game is", first_game)
    print("second game is", second_game)
    print("thrid game is", thrid_game)

In [58]:
games("cricket")

first game is cricket
second game is None
thrid game is None

In [2]:
def addd (a,b):
    if a + b == 3:
        print("yes")
    else:
        print("no")

In [3]:
addd(2,1)

yes

In [4]:
addd(3,3)

no

In [12]:
def get_number (start, end, mode):
    if mode == "even":
        remainder = 0
    elif mode == "odd":
        remainder = 1
        
    l = []
    for i in range (start, end):
        if i%2==remainder:
            l.append(i)
    return l

In [13]:
output = get_number(50,100,"even")
print(output)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [16]:
def names (first_name,middle_name,last_name):
    print("First Name is :", first_name)
    print("Middle Name is :", middle_name)
    print("Last Name is :", last_name)

In [18]:
names("Sabarish", "chennai", "Venkatesan")

First Name is : Sabarish
Middle Name is : chennai
Last Name is : Venkatesan

In [25]:
names (first_name = "cheenn",middle_name = "Chennai",last_name = "Venkatesan")

First Name is : cheenn
Middle Name is : Chennai
Last Name is : Venkatesan

In [26]:
names("cheenn",middle_name = "Chennai",last_name = "Venkatesan" )

First Name is : cheenn
Middle Name is : Chennai
Last Name is : Venkatesan

In [27]:
names (first_name = "cheenn", "Chennai",last_name = "Venkatesan")

SyntaxError: positional argument follows keyword argument (3640146895.py, line 1)

In [30]:
names(None,middle_name = None,last_name = "Venkatesan" )

First Name is : None
Middle Name is : None
Last Name is : Venkatesan

In [31]:
names(None, None, None)

First Name is : None
Middle Name is : None
Last Name is : None