In [1]:
a = "123"
b = float(a)
print(b)
print(type(b))

123.0
<class 'float'>

In [2]:
a = ["arun", "20", "chennai"]

In [3]:
print (a)

['arun', '20', 'chennai']

In [5]:
print (type(a))

<class 'list'>

In [8]:
print (isinstance(a,list))

True

In [9]:
print(min(a))

20

In [10]:
print(max(a))

chennai

In [11]:
print(sorted(a))

['20', 'arun', 'chennai']

In [13]:
print(a[::-1])

['chennai', '20', 'arun']

In [19]:
print(a[0])

arun

In [20]:
a = ["sabarish", "23", "Chennai"]

In [21]:
a.append("Infosys")
print (a)

['sabarish', '23', 'Chennai', 'Infosys']

In [22]:
a.insert(2,"test")
print(a)

['sabarish', '23', 'test', 'Chennai', 'Infosys']

In [25]:
a.remove("Infosys")
print(a)

['sabarish', '23', 'test', 'Chennai']

In [27]:
del a[0:1]
print(a)

['test', 'Chennai']

In [28]:
a = ["sabarish", "23", "Chennai"]
b = a.pop(2)
print(a)
print(b)

['sabarish', '23']
Chennai

In [29]:
#shallow copy --> Same memory or shared memory

a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [33]:
#deep copy --> different memory

a = [1,2,3,4]
b = a.copy()
a.append(33)
print(a)
print(b)

[1, 2, 3, 4, 33]
[1, 2, 3, 4]

In [34]:
a = [1,2,3]
b = [4,5,6]
a.append(b)
print(a)

[1, 2, 3, [4, 5, 6]]

In [36]:
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [37]:
a = ("hi", "hello", "welcome")

In [38]:
print(type(a))

<class 'tuple'>

In [40]:
print(isinstance(a,tuple))

True

In [41]:
print(max(a))

welcome

In [42]:
print(min(a))

hello

In [43]:
print(sorted(a))

['hello', 'hi', 'welcome']

In [44]:
print(len(a))

3

In [45]:
print(a[::-1])

('welcome', 'hello', 'hi')

In [46]:
# list

In [47]:
a = {1,2,3,4}
b = {3,4,5,6,7}

In [48]:
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}

In [49]:
print(a.issubset(b))
print(b.issuperset(a))

False
False

In [50]:
a = {1,2,3}
a.add(4)
print(a)

{1, 2, 3, 4}

In [51]:
a.remove(4)
print(a)

{1, 2, 3}

In [52]:
a = {"name":"sabarish", "age":"22", "location":"kanyakumari"}

In [53]:
print(a)

{'name': 'sabarish', 'age': '22', 'location': 'kanyakumari'}

In [54]:
print(type(a))

<class 'dict'>

In [55]:
print(isinstance(a,dict))

True

In [56]:
print(min(a))

age

In [57]:
print(max(a))

name

In [58]:
print(sorted(a))

['age', 'location', 'name']

In [59]:
a ["test"]="demo"
print(a)

{'name': 'sabarish', 'age': '22', 'location': 'kanyakumari', 'test': 'demo'}

In [60]:
del a["age"]
print(a)

{'name': 'sabarish', 'location': 'kanyakumari', 'test': 'demo'}

In [61]:
a = {"name":"sabarish", "age":"22", "location":"chennai", "name":"sabarish"}
print(a)

{'name': 'sabarish', 'age': '22', 'location': 'chennai'}

In [64]:
a ["company"] = "Amazon"
print(a)

{'name': 'sabarish', 'age': '22', 'location': 'chennai', 'company': 'Amazon'}

In [65]:
del a["name"]
print(a)

{'age': '22', 'location': 'chennai', 'company': 'Amazon'}

In [72]:
a = {"name":"sabarish", "age":"22", "location":"chennai", "name":"sabarish"}
print (a["location"])

chennai

In [68]:
print(a.get("location"))

chennai

In [69]:
print(a.get("dsfefqwqwd"))
print(a.get("assaasa","sabarish"))
print(a.get("name","nberfsdcqw"))

None
sabarish
sabarish

In [76]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'age', 'location'])
dict_values(['sabarish', '22', 'chennai'])
dict_items([('name', 'sabarish'), ('age', '22'), ('location', 'chennai')])

In [77]:
b = a.popitem()
print(b)
print(a)

('location', 'chennai')
{'name': 'sabarish', 'age': '22'}

In [78]:
a ["University"]="Anna University"
print(a)

{'name': 'sabarish', 'age': '22', 'University': 'Anna University'}

In [79]:
del a["age"]
print(a)

{'name': 'sabarish', 'University': 'Anna University'}

In [ ]:
# data types - List, tuple, dictionary,set, string, integer